 <%# Refactoring %>
  <div class="card-product col-7">
    <div class="card rounded-lg p-3">
      <div class="">
         <% if product.photo.blank? %>
            <%= cl_image_tag product.photo.key, height: 470, width: 700, crop: :fill, class: "mb-3" %>
          <% else %>
            <img src="https://res.cloudinary.com/drmzvuqzo/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1669322135/development/4-no-image--410x250_dljpif.jpg" class="img-fluid rounded-start mb-3" alt="..." width="100px">
          <% end %>
      </div>
      <div class="">
        <div class="card-product-infos">
          <div>
          <div class="d-flex justify-content-between">
            <h2><%=product.name.upcase%></h2>
            <div class="row g-0 overflow-hidden text-end pe-3" >
              <h3 class="mb-0">$<%=product.price%></h3><p class="mb-0"> per Day</p>
            </div>
          </div>
            <div class="d-flex justify-content-between py-1">
              <span><%=product.category.capitalize%></span>
            </div>
          </div>
          <p class="pt-2"><%=product.description%></p>
        </div>
      </div>

    </div>
  </div>

  <%= render "bookings/show_product_booking_details", product: @product %>
