<div class="container rounded">
  <div class="card rounded col-5 p-2 w-100 shadow">
    <div class="d-flex justify-content-between align-items-baseline px-4">
      <h3 class="py-2 fw-bold text-center">Your booking</h3>
      <div class="me-3 text-center pb-2">
        <%= render 'shared/status', booking_status: @booking.booking_status %>
      </div>
    </div>

    <div class="px-4 pt-0  text-muted text-center">
      <p>Dates: <%= @booking.start_date.strftime('%d/%m/%Y') %> - <%= @booking.start_date.strftime('%d/%m/%Y') %></p>
      <p>Total days: <%= @booking.booking_days  %> days</p>
    </div>
    <div class="border-bottom mx-3"></div>
      <div class="px-4 pt-2">
      <p class="text-center">Your Items:</p>
        <ul class="list-group px-1 pb-2">
          <% @booking.product_assignments.each do |product_assignment| %>
                <li id="list-no-margin" class="list-inline-item p-x-2">
                  <div class="d-flex">
                    <div class="flex-grow-1">
                      <p class="mb-0"><%= product_assignment.product.name %></p>
                      <p class="mb-1" style="font-size:12px;"><%= product_assignment.product.category.capitalize %></p>
                    </div>

                    <% unless product_assignment.product.product_type == "bike" %>
                      <p class="mb-0">$<%= product_assignment.product.price.round(0) %></p>
                      <%= link_to product_assignment_path(product_assignment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                        <i class="fa-solid fa-trash ms-3"></i>
                      <% end %>
                    <% else %>
                      <p class="mb-0" style="margin-right:30px;">$<%= product_assignment.product.price.round(0) %></p>
                    <% end %>
                  </div>
                </li>
          <% end %>
        </ul>
      </div>
    <div class="border-bottom mx-3"></div>
    <div class="px-4 pt-2 pb-0">
          <div class="d-flex justify-content-between">
            <p>Bike price per day</p>
            <p>$<%= (@product.price).round(0) %></p>
          </div>
        </div>
        <div class="border-bottom mx-3"></div>
        <div class="px-4 pt-2 pb-0">
          <div class="d-flex justify-content-between pt-2 pb-0">
            <p>Total price</p>
            <p>$<%= (@booking.price).round(0) %></p>
          </div>
        </div>
    <% if @booking.booking_status == "draft" %>
      <form method="PATCH" action="<%= checkout_path(@booking) %>", class="p-3">
        <input type="hidden" name="product_id" value="<%= params[:product_id] %>">
        <input type="submit", class="btn btn-primary w-100", value="Checkout">
      </form>
    <% end %>
  </div>
</div>
