<div class="container p-3">

<h1>These are your bookings</h1>
<% @bookings.each do |booking| %>
  <div class="card my-4 rounded">
    <h5 class="card-header"><%= render "shared/status", booking_status:  booking.booking_status %></h5>
    <div class="card-body">
      <h5 class="card-title"><%= booking.start_date.strftime('%d/%m/%Y') %> - <%= booking.end_date.strftime('%d/%m/%Y') %> </h5>
      <p class="card-text">Items associated with this listing</p>
      <%# item list%>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
        <tbody>
        <%# You can call the list of products directly for each booking because of the relationship %>
        <% booking.products.each do | product |%>
          <tr>
            <td><%= product.name.capitalize %></td>
            <td><%= product.category.capitalize %></td>
          </tr>
        <%end%>
        </tbody>
      </table>
      <div class="row">
        <div class="col-2 m-3">Total: $<%=booking.price.round(0)%>
        </div>
      </div>
      <%# Remember with nested paths with params being sent you need to name the params %>
      <%# When its by it self the path will auto asume you are looking for the id of that object %>
      <%# Example home_path(@home) => look for the id of the home even through you are sending over an object %>
      <%= link_to "See Booking", product_booking_path(product_id: booking.products.first.id, id: booking.id), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>
