<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.svg", style: 'height:30px;width:auto;' %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto flex-grow-1">
          <li class="nav-item">
            <%= link_to "See all products", products_path, class: "nav-link" %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <p class="nav-link mb-0", id="navbarDropdown", data-bs-toggle="dropdown", aria-haspopup="true", aria-expanded="false">Owner view</p>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My products", owner_products_path, class: "dropdown-item" %>
              <%= link_to "My bookings", owner_bookings_path, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <%= link_to "Log out", destroy_user_session_path, class: "btn btn-primary", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
        </ul>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
