<div class="container my-5 overflow-hidden rounded justify-content-center px-3">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% products =Product.where(category: "accessories", user_id: product.user_id).first(3) %>
  <% products.each do |product| %>
        <div class="col-4 overflow-hidden">
          <div class="p-3 border bg-light h-100 ">
            <div class="">
              <% if product.photo.blank? %>
                <%= cl_image_tag product.photo.key, height: 100, width: 150, crop: :fill, class: "mb-3" %>
              <% else %>
                <img src="https://res.cloudinary.com/drmzvuqzo/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1669322135/development/4-no-image--410x250_dljpif.jpg" class="img-fluid rounded-start mb-3" alt="..." width="100px">
              <% end %>
              <div class="">
                <h4> <%= product.name.upcase %> </h4>
                <h6> <%= product.product_type.capitalize %> </h6>
                <p><small> <%= product.description %> </small></p>
              </div>
            </div>
            <div>
              <%= link_to "Add to Booking", booking_path, { class: "btn btn-primary w-100" } %>
              <%= render 'product_assignments/new', product: product  %>
            </div>
          </div>
        </div>
  <% end %>
  </div>
</div>
