
<div class="container d-flex overflow-hidden">
  <div class="card-product col-7">
    <div class="card rounded-lg p-3">

      <div class="">
          <img src="https://www.ghost-bikes.com/fileadmin/user_upload/ghostbikes_2020/BIKES/65SL1008_PY19_SLAMR_4-7_AL_U_CLASSICTAN_JETBLACK.png"
              class="img-fluid rounded-start" alt="...">
      </div>

      <div class="">
        <div class="card-product-infos">
          <div>
            <h2><%=product.name.upcase%></h2>
            <p><%=product.category%></p>
          </div>
          <p class="card-pricing">$<%=product.price%> per day</p>
          <p class="card-description"><%=product.description%></p>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="card-booking col-5 p-2">
      <%= render "bookings/form", { booking: @booking, product: @product } %>
    </div>
  </div>
</div>
