<table class="table">
  <thead>
    <tr>
        <th scope="col">Attribute</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td>
        category
      </td>
      <td>
        <%=  @product.category %>
      </td>
    </tr>
    <tr>
      <td>
        product_typ
      </td>
      <td>
        <%=  @product.product_type %>
      </td>
    </tr>
    <tr>
      <td>
        name
      </td>
      <td>
        <%=  @product.name %>
      </td>
    </tr>
    <tr>
      <td>
        description
      </td>
      <td>
        <%=  @product.description %>
      </td>
    </tr>
    <tr>
      <td>
        price
      </td>
      <td>
        <%=  @product.price    %>
      </td>
    </tr>
    <tr>
      <td>
        created_at
      </td>
      <td>
        <%=  @product.created_at %>
      </td>
    </tr>
    <tr>
      <td>
        updated_at
      </td>
      <td>
        <%=  @product.updated_at %>
      </td>
    </tr>
  </tbody>
</table>
