<!DOCTYPE html>
<html>
  <head>
    <title>GroupappoMarketplace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <% unless notice.nil?%>
      <div class="notice alert alert-success" role="alert">
        <%= notice %> <i class="fa-solid fa-bicycle"></i>
      </div>
    <%end%>
    <% unless alert.nil?%>
      <div class="alert alert-danger" role="alert">
        <%= alert %> <i class="fa-solid fa-bicycle"></i>
      </div>
    <%end%>
      <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
